service2/src/main/resources/navigator.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="https://github.com/sloning/Service-oriented-architecture" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="https://github.com/sloning/Service-oriented-architecture" targetNamespace="https://github.com/sloning/Service-oriented-architecture">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="https://github.com/sloning/Service-oriented-architecture">
            <xs:element name="getRouteByLengthReq">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="lengthFilterDto" type="tns:lengthFilterDto"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRouteByLengthRes">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="route" type="tns:route"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="getOrderedRoutesReq">
                <xs:sequence>
                    <xs:element name="orderedRoutesDto" type="tns:orderedRoutesDto"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getOrderedRoutesRes">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="routes" type="tns:route"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="lengthFilterDto">
                <xs:sequence>
                    <xs:element name="idFrom" type="xs:int"/>
                    <xs:element name="idTo" type="xs:int"/>
                    <xs:element name="length" type="tns:length"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="orderedRoutesDto">
                <xs:sequence>
                    <xs:element name="idFrom" type="xs:int"/>
                    <xs:element name="idTo" type="xs:int"/>
                    <xs:element name="orderBy" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="route">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="coordinates" type="tns:coordinates"/>
                    <xs:element name="creationDate" type="xs:dateTime"/>
                    <xs:element name="from" type="tns:location"/>
                    <xs:element name="to" type="tns:location"/>
                    <xs:element name="distance" type="xs:float"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="location">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element name="x" type="xs:float"/>
                    <xs:element name="y" type="xs:double"/>
                    <xs:element name="z" type="xs:double"/>
                    <xs:element name="name" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="coordinates">
                <xs:sequence>
                    <xs:element name="x" type="xs:long"/>
                    <xs:element name="y" type="xs:double"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="length">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="SHORTEST"/>
                    <xs:enumeration value="LONGEST"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:schema>
    </wsdl:types>
    <wsdl:portType name="Navigator"> </wsdl:portType>
    <wsdl:binding name="NavigatorSoap11" type="tns:Navigator">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    </wsdl:binding>
    <wsdl:service name="NavigatorService">
        <wsdl:port binding="tns:NavigatorSoap11" name="NavigatorSoap11">
            <soap:address location="https://localhost:36501/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
